<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/add" method="post">
		<fieldset>
	    <legend>Puppy Information:</legend>
	    Name:<br>
	    <input type="text" name="name" value=""><br>
	    <br>
	    Breed:<br>
	    <input type="text" name="breed" value=""><br>
	    <br>
	    Age:<br>
	    <input type="text" name="age" value=""><br>
	    Sex:<br>
	    <input type="text" name="sex" value=""><br>
	    <br>	    
	    <input type="submit" value="Submit">
  		</fieldset>
  	</form>

</body>
</html>
