<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/add" method="post" name='dog_form'>
		<fieldset>
	    <legend>Puppy Information:</legend>
	    Name:<br>
	    <input type="text" name="name" value="" required /><br>
	    <br>
	    Breed:<br>
	    <input type="text" name="breed" value="" required /><br>
	    <br>
	    Age:<br>
	    <input type="number" name="age" value=""><br>
	    Sex:<br>
	    <input type="text" name="sex" value="" required /><br>
	    <br>
        <input type="button" value="Submit" onClick=answer()>
  		</fieldset>
  	</form>
    <div id='result'></div>
    <input type="button" value="display results" onClick=show_all()>
    <div id='database'></div>
    <script>
        function cfunc() {
            alert(xhttp.responseText);
            document.getElementById('result').innerHTML = xhttp.responseText;
        }
        function answer() {
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
               cfunc(xhttp);
            }
  };
            xhttp.open("POST", "/add_dog", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            params = 'name='+document.dog_form.name.value+'&'+
                     'breed='+document.dog_form.breed.value+'&'+
                     'age='+document.dog_form.age.value+'&'+
                     'sex='+document.dog_form.sex.value;
            xhttp.send(params);
        }
        function show_all() {
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if(xhttp.readyState ==4 && xhttp.status == 200) {
                    document.getElementById('database').innerHTML = xhttp.responseText;
                }
            }
            xhttp.open("GET", "/select_all", true);
            xhttp.send();
        }
    
    </script>
</body>
</html>
